# Visual Studio
.vs/
*.user
*.suo

# VS Code
.vscode/

# Build artifacts
artifacts/
bin/
obj/

# Test results
TestResults/
*.trx
*.coverage

# NuGet
*.nupkg
*.snupkg
packages/
*.nuspec

# Rider / Resharper
.idea/
*.DotSettings.user

# Logs & misc
*.log
*.bak
*.swp
*.tmp
*.DS_Store
*.psess
*.vsp
*.pidb
desktop.ini
 
# Custom
*.ignore.*
