name: Publish to NuGet

on:
  push:
    tags: ['v*.*.*']

jobs:
  publish:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - run: dotnet build src/CsharpSpellbook.Mvvm/CsharpSpellbook.Mvvm.csproj -c Release
      - run: dotnet pack src/CsharpSpellbook.Mvvm/CsharpSpellbook.Mvvm.csproj -c Release -o ./nupkg

      - run: dotnet nuget push ./nupkg/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
